.main-header {
  padding-top: 66px;
  position: relative;
  background: url("../../images/logo-text-mobile.svg") center top  23px/ 101px 18px no-repeat;
}

.main-header__logo {
  position: absolute;
  top: 13px;
  left: 20px;
}
